<head>
    <meta charset="utf-8" />
    <title>
        [Collaboration Platform Name] - Connect, Share, & Innovate
    </title>
    <meta
            name="description"
            content="Explore and join collaboration groups on [Your Platform Name]. Connect with like-minded individuals, share ideas, and work together on projects."
    />

    <link
            rel="icon"
            href="{{ '/images/favicon.ico' | prepend: site.baseurl }}"
            type="image/x-icon"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{{ '/images/favicons/favicon-16x16.png' | prepend: site.baseurl }}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{{ '/images/favicons/favicon-32x32.png' | prepend: site.baseurl }}"
    />
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{{ '/images/apple-touch-icon.png' | prepend: site.baseurl }}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{{ '/images/favicons/favicon-32x32.png' | prepend: site.baseurl }}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{{ '/images/favicons/favicon-16x16.png' | prepend: site.baseurl }}"
    />
    <link
            rel="manifest"
            href="{{ '/site.webmanifest' | prepend: site.baseurl }}"
    />
    <meta name="apple-mobile-web-app-title" content="[Your Platform Name]" />
    <meta
            name="apple-mobile-web-app-status-bar-style"
            content="black-translucent"
    />

    <meta name="theme-color" content="#ffffff" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="[Your Platform Name]" />
    <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="{{ '/images/favicons/android-chrome-192x192.png' | prepend: site.baseurl }}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="512x512"
            href="{{ '/images/favicons/android-chrome-512x512.png' | prepend: site.baseurl }}"
    />

    <link
            href="{{ '/css/bootstrap.css' | prepend: site.baseurl }}"
            rel="stylesheet"
    />
    <link
            href="{{ '/css/style.css' | prepend: site.baseurl }}"
            rel="stylesheet"
    />
    <link
            href="{{ '/css/responsive.css'  | prepend: site.baseurl }}"
            rel="stylesheet"
    />
    <link
            href="{{ '/css/color-switcher-design.css' | prepend: site.baseurl }}"
            rel="stylesheet"
    />

    {% include {{ '/google_analytics.liquid' | prepend: site.baseurl }} %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <meta property="og:title" content="[Your Platform Name] - Discover Collaboration Groups" />
    <meta
            property="og:description"
            content="Find and join diverse collaboration groups focused on [mention key areas or themes of your platform]."
    />
    <meta
            property="og:image"
            content="{{ '/images/logo/platform_logo.png' | prepend: site.baseurl }}"
    />
    <meta property="og:url" content="[Your Platform URL]/groups" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="[Your Platform Name]" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta
            name="twitter:title"
            content="[Your Platform Name]: Join Innovative Collaboration Groups"
    />
    <meta
            name="twitter:description"
            content="Connect with communities, share your expertise, and collaborate on exciting projects on [Your Platform Name]."
    />
    <meta
            name="twitter:image"
            content="{{ '/images/logo/platform_logo_twitter.png' | prepend: site.baseurl }}"
    />

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebPage",
            "name": "Collaboration Groups on [Your Platform Name]",
            "description": "Explore and join various collaboration groups on [Your Platform Name] to connect with others and work on shared interests.",
            "url": "[Your Platform URL]/groups",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "[Your Platform URL]/groups?q={search_term_string}",
                "query-input": "required name=search_term_string"
            },
            "publisher": {
                "@type": "Organization",
                "name": "[Your Organization Name]",
                "url": "[Your Organization URL]",
                "logo": {
                    "@type": "ImageObject",
                    "url": "https://www.marksgroup.net/blog/office-365-add-your-organization-logo-to-office-365/"
                }
            }
        }
    </script>
</head>